@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Amatic+SC:400,700);
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.container-fluid {
  min-height: 100vh;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(245,244,245,1) 47%, rgba(219,216,219,1) 100%);
}
#quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 30px 4% 10px;
  text-align: center;
}
#authorCont {
  margin: 20px auto auto;
}
#author {
  font-style: italic;
  font-size: 1em;
  
}
.btn {
  margin: 25vh auto auto auto;
  background-color: white;
  border: 1px solid gray;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}
